<app-nav></app-nav>
<div class="calendar-container">
  <header class="calendar-header">
    <h2>Calendario de Fútbol</h2>
    <div class="calendar-nav">
      <button>&lt;</button>
      <div class="days">
        <span>JUE.<br>5 SEP</span>
        <span>VIE.<br>6 SEP</span>
        <span>SÁB.<br>6 SEP</span>
        <span class="active">DOM.<br>7 SEP</span>
        <span>LUN.<br>8 SEP</span>
        <span>MAR.<br>9 SEP</span>
        <span>MIÉ.<br>10 SEP</span>
      </div>
      <button>&gt;</button>
    </div>
    <div class="match">
  <div class="teams">
    <span>Envigado</span>
    <span>Águilas Doradas</span>
  </div>
  <div class="details">
    <span>EN VIVO</span>
    <span>Polideportivo Sur, Envigado</span>
  </div>
  <div class="status-controller">
    <button (click)="cambiarEstado('disponible')">Disponible</button>
    <button (click)="cambiarEstado('agotado')">Agotado</button>
    <button (click)="cambiarEstado('espera')">En Espera</button>
  </div>
  <div class="contenedor-status">
    @switch (estado)
    {
      @case ('disponible') {
        <p class="mensaje exito">Entradas disponibles</p>
      }
      @case ('agotado') {
        <p class="mensaje error">Entradas agotadas</p>
      }
      @case ('espera') {
        <p class="mensaje info">En lista de espera</p>
      }
    }
  </div>
</div>
 <div class="match">
  <div class="teams">
    <span>Envigado</span>
    <span>Águilas Doradas</span>
  </div>
  <div class="details">
    <span>EN VIVO</span>
    <span>Polideportivo Sur, Envigado</span>
  </div>
  <div class="status-controller">
    <button (click)="cambiarEstado('disponible')">Disponible</button>
    <button (click)="cambiarEstado('agotado')">Agotado</button>
    <button (click)="cambiarEstado('espera')">En Espera</button>
  </div>
  <div class="contenedor-status">
    @switch (estado)
    {
      @case ('disponible') {
        <p class="mensaje exito">Entradas disponibles</p>
      }
      @case ('agotado') {
        <p class="mensaje error">Entradas agotadas</p>
      }
      @case ('espera') {
        <p class="mensaje info">En lista de espera</p>
      }
    }
  </div>
</div>
 <div class="match">
  <div class="teams">
    <span>Envigado</span>
    <span>Águilas Doradas</span>
  </div>
  <div class="details">
    <span>EN VIVO</span>
    <span>Polideportivo Sur, Envigado</span>
  </div>
  <div class="status-controller">
    <button (click)="cambiarEstado('disponible')">Disponible</button>
    <button (click)="cambiarEstado('agotado')">Agotado</button>
    <button (click)="cambiarEstado('espera')">En Espera</button>
  </div>
  <div class="contenedor-status">
    @switch (estado)
    {
      @case ('disponible') {
        <p class="mensaje exito">Entradas disponibles</p>
      }
      @case ('agotado') {
        <p class="mensaje error">Entradas agotadas</p>
      }
      @case ('espera') {
        <p class="mensaje info">En lista de espera</p>
      }
    }
  </div>
</div>
    <div class="filters">
      <select class="league-filter">
        <option>Selecciona una Liga</option>
        <option>Colombiana Primera A</option>
        <option>Eliminatorias UEFA</option>
        <option>Campeonato Uruguayo</option>
        <option>Primera División: Chile</option>
        <option>Liga de Paraguay</option>
      </select>
      <input type="text" placeholder="Buscar equipo..." class="search-bar" />
    </div>
  </header>
  <section class="calendar-section">
    <h3>Colombiana Primera A</h3>
    <div class="match">
      <div class="teams">
        <span>Envigado</span>
        <span>Águilas Doradas</span>
      </div>
      <div class="details">
        <span class="live">EN VIVO</span>
        <span>Polideportivo Sur, Envigado</span>
      </div>
    </div>
    <div class="match">
      <div class="teams">
        <span>América de Cali</span>
        <span>Deportivo Cali</span>
      </div>
      <div class="details">
        <span>4:10 PM</span>
        <span>Pascual Guerrero, Cali</span>
      </div>
    </div>
    <div class="match">
      <div class="teams">
        <span>Independiente Medellín</span>
        <span>Atlético Nacional</span>
      </div>
      <div class="details">
        <span>6:20 PM</span>
        <span>Atanasio Girardot, Medellín</span>
      </div>
    </div>
    <div class="match">
      <div class="teams">
        <span>Fortaleza CEIF</span>
        <span>La Equidad</span>
      </div>
      <div class="details">
        <span>8:30 PM</span>
        <span>Metropolitano de Techo, Bogotá</span>
      </div>
    </div>
  </section>
  <section class="calendar-section">
    <h3>Amistosos internacionales</h3>
    <div class="match">
      <div class="teams">
        <span>Siria</span>
        <span>Kuwait</span>
      </div>
      <div class="details">
        <span>5:00 PM</span>
        <span>Estadio N/A</span>
      </div>
    </div>
    <div class="match">
      <div class="teams">
        <span>Catar</span>
        <span>Rusia</span>
      </div>
      <div class="details">
        <span>1 - 4 (FINAL)</span>
        <span>Doha, Qatar</span>
      </div>
    </div>
  </section>
  <section class="calendar-section">
    <h3>Eliminatorias UEFA</h3>
    <div class="match">
      <div class="teams"><span>Bélgica</span><span>Kazajistán</span></div>
      <div class="details"><span class="live">EN VIVO</span><span>Bruselas</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Alemania</span><span>Irlanda del Norte</span></div>
      <div class="details"><span class="live">EN VIVO</span><span>Colonia</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Luxemburgo</span><span>Eslovaquia</span></div>
      <div class="details"><span class="live">EN VIVO</span><span>Luxemburgo</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Polonia</span><span>Finlandia</span></div>
      <div class="details"><span class="live">EN VIVO</span><span>Chorzow, Polonia</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Turquía</span><span>España</span></div>
      <div class="details"><span class="live">EN VIVO</span><span>Konya, Turquía</span></div>
    </div>
  </section>
  <section class="calendar-section">
    <h3>Primera B Colombia</h3>
    <div class="match">
      <div class="teams"><span>Cúcuta Deportivo</span><span>Real Santander</span></div>
      <div class="details"><span>4:00 PM</span><span>Estadio N/A</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Real Cartagena</span><span>Barranquilla FC</span></div>
      <div class="details"><span>5:00 PM</span><span>Estadio N/A</span></div>
    </div>
  </section>
  <section class="calendar-section">
    <h3>Primera División: Liga Chilena</h3>
    <div class="match">
      <div class="teams"><span>Cobresal</span><span>Palestino</span></div>
      <div class="details"><span>2 - 1 (FINAL)</span><span>El Cobre, Chile</span></div>
    </div>
  </section>
  <section class="calendar-section">
    <h3>Campeonato Uruguayo</h3>
    <div class="match">
      <div class="teams"><span>Nacional</span><span>Racing (Montevideo)</span></div>
      <div class="details"><span>4:00 PM</span><span>Gran Parque Central</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Montevideo City Torque</span><span>Liverpool</span></div>
      <div class="details"><span>6:30 PM</span><span>Parque Viera</span></div>
    </div>
    <div class="match">
      <div class="teams"><span>Progreso</span><span>Mramar Misiones</span></div>
      <div class="details"><span>3 - 2 (FINAL)</span><span>Abraham Paladino</span></div>
    </div>
  </section>
  <section class="calendar-section">
    <h3>Liga de Paraguay</h3>
    <div class="match">
      <div class="teams"><span>2 de Mayo</span><span>Olimpia</span></div>
      <div class="details"><span>2:00 PM</span><span>Pedro Juan Caballero</span></div>
    </div>
  </section>
</div>
<app-footer></app-footer>